.progressWrapper {
    // background: red !important;
    width: 100%;
    height: 5px;
    background: #535353;
    cursor: pointer;
    transition: all linear;

    z-index: 999;
    position: absolute;
    bottom: 6rem;

    &:hover {
        .progress {
            background-color: var(--cor-principal);
            transition: all linear;
        }
    }

    .progress {
        // background-color: red !important;
        background-color: var(--cor-principal-transparente);
        border-radius: 100px;
        height: 100%;
        position: relative;
        width: 20%;
        transition: all 0.01s ease-in;

        .pointer {
            display: flex;
            position: absolute;
            right: 0px;
            top: -80%; // ?
            transform: translateY(10%);
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: var(--branco);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24);
            justify-content: center;
            align-items: center;

            .toast {
                width: 140px;
                height: 32px;
                background: var(--branco);
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                position: absolute;
                top: -34px;
                left: 50%;
                transform: translateX(-50%);
                display: none;
            }
        }
    }

    // Aumentar a área clicável
    &::after {
        content: '';
        position: absolute;
        top: -200%;
        width: 100%;
        height: 500%;
        // background-color: rgba(255, 0, 0, 0.5) !important;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}

/* =-=-=-=-=-=-=-=-=-=-= Media queries (Height) =-=-=-=-=-=-=-=-=-=-= */
@media (max-height:480px) {
    .progressWrapper {
        // background-color: red !important;

        // Aumentar a área clicável
        &::after {
            height: 0%;
            // background-color: red !important;
        }
    }
}