:root {
    --preto: #1A1A1A;
    --super-preto: #000000;
    --branco: rgba(255, 255, 255, 0.85);
    --cor-principal: rgba(145, 44, 246, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    color: var(--preto);
    font-family: 'GT', 'Helvetica Neue', sans-serif;
}

.semDrag {
    pointer-events: none;
}

.semHighlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* =-=-=-=-=-=-=-=-=-=-= Botão =-=-=-=-=-=-=-=-=-=-= */
.botao {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 40px;
    margin: 8px 0 0.75rem;
    padding: 8px 48px;
    border: none;
    background: var(--cor-principal);
    border-radius: 500px;
    color: var(--branco);
    cursor: pointer;
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    outline: none;
    place-content: center;
    place-items: center;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.05);
        transition: all 0.3s;
    }

    &:disabled {
        background-color: rgba(16, 94, 170, 0.5);
        color: var(--branco);
        opacity: 0.5;
        cursor: not-allowed;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= react-hot-toast =-=-=-=-=-=-=-=-=-=-= */
.toaster {
    position: fixed !important;
    z-index: 999999999 !important;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- animate.css =-=-=-=-=-=-=-=-=-=-=-=- */
.animate__delay03 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-delay: calc(1s*0.3);
    animation-delay: calc(1s*0.3);
}