:root {
    --preto: #1A1A1A;
    --super-preto: #000000;
    --branco: rgba(255, 255, 255, 0.9);
    --cor-principal: rgba(145, 44, 246, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    color: var(--preto);
    background: var(--branco);
    font-family: 'GT', 'Helvetica Neue', sans-serif;
}

.semDrag {
    pointer-events: none;
}

.cursorProibido {
    cursor: not-allowed !important;
}

.semHighlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.imgModoDark {
    filter: brightness(0) invert(1);
    transition: 0.3s;

    &:hover {
        filter: brightness(0) !important;
        transition: 0.3s !important;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Coração =-=-=-=-=-=-=-=-=-=-= */
.coracao {
    // background-color: coral;
    background-image: url('../assets/images/outros/coracao-animacao.png');
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: left;
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 auto;
    cursor: pointer;

    margin-top: 0.125rem;
    margin-left: 0.05rem;
    transition: 0.3s;

    &.coracaoAnimar {
        animation: heart-burst .8s steps(28) forwards;
    }

    &.coracaoFiltroPreto {
        filter: brightness(20%);
    }

    &.coracaoFiltroBranco {
        filter: brightness(0) invert(1);
    }

    &.coracaoFiltroPretoHover {
        &:hover {
            filter: brightness(0);
            transition: 0.3s;
        }
    }

    &.coracaoFiltroBrancoHover {
        &:hover {
            filter: brightness(0) invert(1);
            transition: 0.3s;
        }
    }
}

@keyframes heart-burst {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Botão =-=-=-=-=-=-=-=-=-=-= */
.botao {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 40px;
    margin: 8px 0 0.75rem;
    padding: 8px 48px;
    border: none;
    background: var(--cor-principal);
    border-radius: 500px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    outline: none;
    place-content: center;
    place-items: center;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.05);
        transition: all 0.3s;
    }

    &:disabled {
        background-color: rgba(16, 94, 170, 0.5);
        color: var(--branco);
        opacity: 0.5;
        cursor: not-allowed;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= react-hot-toast =-=-=-=-=-=-=-=-=-=-= */
.toaster {
    position: fixed !important;
    z-index: 999999999 !important;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- animate.css =-=-=-=-=-=-=-=-=-=-=-=- */
.animate__delay03 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-delay: calc(1s*0.3);
    animation-delay: calc(1s*0.3);
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:1824px) {}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .coracao {
        // background-color: coral;
        filter: brightness(0) invert(1) !important;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}