:root {
    --preto: #1A1A1A;
    --super-preto: #000000;
    --branco: rgba(255, 255, 255, 0.85);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    color: var(--preto);
    font-family: 'Helvetica Neue', sans-serif;
}

/* =-=-=-=-=-=-=-=-=-=-= react-hot-toast =-=-=-=-=-=-=-=-=-=-= */
.toaster {
    position: fixed !important;
    z-index: 999999999 !important;
}