.main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    .avisoErro{
        background-color: var(--branco-escuro);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;

        span{
            font-weight: 500;
            font-size: 2rem;
            color: var(--preto);
        }
    }
}